<h2 class="mt-4">Login</h2>
<form action="/User/Login" style="height: 56vh;">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" name="name" required />
        <span class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password" required />
        <span class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <div class="text-danger">
    </div>
</form>