@model User

<div class="row">
    <div class="col-md-2">
        <div class="bg-white p-2">
            <img src="~/img/@Model.Image" class="img-fluid" alt="">
        </div>
    </div>
    <div class="col-md-10">
        <div class="bg-white p-4">
            <h5>@Model.Name</h5>
            <hr>
            <div id="animals">
                <h5 class="my-4">Yayınlanan Hayvanlar</h5>
                <ul class="list-group">
                    @foreach (var animal in Model.Animals)
                    {
                        <li class="list-group-item"><i class="bi bi-caret-right-fill"></i><a
                                href="/animals/details/@animal.Url">@animal.AnimalName</a></li>
                    }
                </ul>
            </div>
            <div id="comments">
                <h5 class="my-4">Yorumlar</h5>
                <ul class="list-group">
                    @foreach (var comment in Model.Comments)
                    {
                        <li class="list-group-item"><i class="bi bi-caret-right-text-fill"></i>@comment.Text
                            <i><u>[@comment.Animal.AnimalName]</u></i>
                        </li>
                    }
                </ul>

            </div>
        </div>
    </div>
</div>